<!DOCTYPE html>
<html>

<head>
  <title>Home Page</title>
  <!-- Bootstarp link-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
  <!-- External CSS and JS link-->
  <script src="home_js.js"></script>
  <link rel="stylesheet" href="home_css.css">
  <link href='https://fonts.googleapis.com/css?family=Signika Negative' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
  
  </script>
  <div class="loader">
    <div></div>
    <div></div>
  </div>
  <script>
    $(window).on('load', function () {
      $(".loader").fadeOut(8000);
      $(".content").fadeIn(11000);
    });
  </script>

  <!--Add all the html content inside this-->
  <div class="content">

  
    <!--Navbar Opening-->
    <nav class="navbar navbar-expand-custom navbar-mainbg">
      <img class="navbar-brand navbar-logo" src="Manoj_logo.png">
      <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-links ml-auto">
          <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <li class="nav-item active">
            <a class="nav-link" href="/"><i class="fa fa-heart-o"></i>Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/fabric"><i class="fa fa-heart-o"></i>Fabric</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/flowers"><i class="fa fa-heart-o"></i>Flowers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/light"><i class="fa fa-heart-o"></i>Lights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sound"><i class="fa fa-heart-o"></i>Sound</a>
          </li>



        </ul>

      </div>
      <img class="navbar-brand logo1 " src="LogoMakr-14RigK.png">
    </nav>

    <div class="responsive-nav">
      <ul>
        <li><a class="responsive-active" href="#"><i class="fa fa-heart-o"></i>Home</a></li>
        <li><a class="" href="/fabric"><i class="fa fa-heart-o"></i>Fabric</a></li>
        <li><a class="" href="/flowers"><i class="fa fa-heart-o"></i>Flowers</a></li>
        <li><a class="" href="/light"><i class="fa fa-heart-o"></i>Light</a></li>
        <li><a class="" href="/sound"><i class="fa fa-heart-o"></i>Sound</a></li>
      </ul>
    </div>
      <!--Navbar Closing-->

    <!--Google Translate starts-->
    <div id ="google_element"></div>
    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
    <script>
      function loadGoogleTranslate()
      {
        new google.translate.TranslateElement("google_element");

      }
    </script>
    <!--Google Translate ends-->
    <!-- flower image -->
    <img src="home_top_flower.png" alt="" id="home_top_flower">
    <img src="top_flower_2.png" alt="second_top flower" id="sec_top_flower">
    <!-- flower image closing -->

  
    <!--Scroll effect starts-->
    <div class='container2'>
      <h2 class="fadeup">The best part </h2>
      <div class='reveal'>
        <div class="image-wrap">
          <img src='fab1.png' id="scroll_img">
        </div>
      </div>
    </div>
    <div class='container2'>
      <h2 class="fadeup">of the day is</h2>
      <div class='reveal'>
        <div class="image-wrap">
          <img src='fab1.png' id="scroll_img">
        </div>
      </div>
    </div>
    <div class='container2'>
      <h2 class="fadeup">when you and</h2>
      <div class='reveal'>
        <div class="image-wrap">
          <img src='fab1.png' id="scroll_img">
        </div>
      </div>
    </div>
    <div class='container2'>
      <h2 class="fadeup">me become we</h2>
      <div class='reveal'>
        <div class="image-wrap">
          <img src='fab1.png' id="scroll_img">
        </div>
      </div>
    </div>
    


    <!--Scroll effect ends-->

    <!-- flower testi -->
    <img  src="test_flower.png" alt="testimonial flower" id="test_flower">
    <!-- flower testi ends -->


    <!--Testimonial Start-->
    <section class="client pt-3 pb-5">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <h1 class="display-3 fw-bold text-white">Testimonials</h1>
            <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 100px; height:3px;">
            <p class="p-text text-white">What our clients are saying</p>
          </div>
        </div>
        <div class="row align-items-md-center text-white">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row p-4">
                    <div class="t-card">
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                      <p class="lh-lg">It was great working with Manoj Tent Agency</p>
                      <i class="fa fa-quote-right" aria-hidden="true"></i><br>
                    </div>
                    <div class="row">
                      <div class="col-sm-10">
                        <div class="arrow-down d-none d-lg-block"></div>
                        <h4><strong>Dhruv Gautam</strong></h4>
                        <p class="testimonial_subtitle"><span>Web Developer</span><br>
                          <span>Kirtix</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row p-4">
                    <div class="t-card">
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                      <p class="lh-lg">It was great working with Manoj Tent Agency</p>
                      <i class="fa fa-quote-right" aria-hidden="true"></i><br>
                    </div>
                    <div class="row">
                      <div class="col-sm-10">
                        <div class="arrow-down d-none d-lg-block"></div>
                        <h4><strong>Dhruv Gautam</strong></h4>
                        <p class="testimonial_subtitle"><span>
                            Web Developer</span><br>
                          <span>Kirtix</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row p-4">
                    <div class="t-card">
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                      <p class="lh-lg">It was great working with Manoj Tent Agency</p>
                      <i class="fa fa-quote-right" aria-hidden="true"></i><br>
                    </div>
                    <div class="row text-lg-start">

                      <div class="col-sm-10">
                        <div class="arrow-down d-none d-md-block"></div>
                        <h4><strong>Dhruv Gautam</strong></h4>
                        <p class="testimonial_subtitle"><span>Web Developer</span><br>
                          <span>Kirtix</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="controls push-right">
              <a class="left fa fa-chevron-left text-white btn btn btn-outline-light" href="#carouselExampleCaptions"
                data-bs-slide="prev"></a>
              <a class="right fa fa-chevron-right text-white btn btn btn-outline-light" href="#carouselExampleCaptions"
                data-bs-slide="next"></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Testimonial End-->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="footer-basic">
      <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
              class="icon ion-social-facebook"></i></a></div>
        <div class="footer-content">
          <div class="envelope"><span><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <a href="#" style="text-decoration: none; color: #FDFEFF;  font-size: 16px;">abc@gmail.com</a>
          </div>
          <div class="phone">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a href="tel:+999939399393"
              style="text-decoration: none; color: #FDFEFF; font-size: 16px;">+999939399393</a>
          </div>
          <div class="maps">
            <i class="material-icons" style="font-size:20px;color: #ff7096;">place</i>
            <a href="https://www.google.co.in/maps/place/Jharkhand+829122/data=!4m6!3m5!1s0x39f4f401e2d4252f:0xb3fbc9057d2aee36!8m2!3d23.6097665!4d85.525174!16s%2Fg%2F1hhj5drjk?authuser=0&hl=en&rclk=1"
              style="text-decoration: none; color: #FDFEFF; font-size: 16px;" target="_blank">Ramgarh
              Cantt</a>
          </div>
        </div>

        <!-- Copyright -->
        <div class=" footer-copyright text-center py-3" style="color: #FDFEFF;">©
          <a href="/" style="text-decoration: none; color: #FDFEFF;"> wedding.com</a>
          <span style="text-decoration: none; color: #FDFEFF;  font-size: 16px;">2022 Manoj
            Tent Agency.
            All Rights Reserved</span>
        </div>
        <!-- Copyright -->
    </div>
    </footer>
  </div>


  </div>
<script>
    $(window).on('load', function () {
      $(".loader").fadeOut(8000);
      $(".content").fadeIn(11000);
    });
  </script>
 
  


</body>

</html>