<!DOCTYPE html>
<html>

<head>
  <title>Sound Page</title>
  <!-- Bootstarp link-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.css" />

	<script src="https://unpkg.com/swiper@8/swiper-bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
  <!-- External CSS and JS link-->
  <script src="sound_js.js"></script>
  <link rel="stylesheet" href="sound_css.css">
  <link href='https://fonts.googleapis.com/css?family=Signika Negative' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
    <!--Navbar Opening-->
    <nav class="navbar navbar-expand-custom navbar-mainbg">
      <img class="navbar-brand navbar-logo" src="Manoj_logo.png">
      <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-links ml-auto">
          <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <li class="nav-item ">
            <a class="nav-link" href="/"><i class="fa fa-heart-o"></i>Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/fabric"><i class="fa fa-heart-o"></i>Fabric</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/flowers"><i class="fa fa-heart-o"></i>Flowers</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/light"><i class="fa fa-heart-o"></i>Lights</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/sound"><i class="fa fa-heart-o"></i>Sound</a>
          </li>
  
  
  
        </ul>
  
      </div>
      <img class="navbar-brand logo1 " src="LogoMakr-14RigK.png">
    </nav>
  
    <div class="responsive-nav">
      <ul>
        <li><a class="responsive-active" href="#"><i class="fa fa-heart-o"></i>Home</a></li>
        <li><a class="" href="/fabric"><i class="fa fa-heart-o"></i>Fabric</a></li>
        <li><a class="" href="/flowers"><i class="fa fa-heart-o"></i>Flowers</a></li>
        <li><a class="" href="/light"><i class="fa fa-heart-o"></i>Light</a></li>
        <li><a class="" href="/sound"><i class="fa fa-heart-o"></i>Sound</a></li>
      </ul>
    </div>
  <!--Navbar Closing-->
  
    <!-- Carousel-->
    <div class="container" id="content-container">
      <div class="row">
          <div class="col-xs-16" id="polaroids">
            <div onclick="previousPolaroid();" class="glyphicon glyphicon-chevron-left arrow-previous"></div>
            <div onclick="nextPolaroid();" class="glyphicon glyphicon-chevron-right arrow-next"></div>
            
            <div class="polaroid">
              <img src="wed1.png" style="width:600px;" class="img-responsive">
              <p class="text-center">Content will go here</p>
            </div>
            
            <div class="polaroid">
              <img src="wed2.jpeg" style="width:600px;" class="img-responsive">
              <p class="text-center">Content will go here</p>
            </div>
            
            <div class="polaroid">
              <img src="wed3.png" style="width:600px;" class="img-responsive">
              <p class="text-center">Content will go here</p>
            </div>
            
            <div class="polaroid">
              <img src="wed3.png" style="width:600px;" class="img-responsive">
              <p class="text-center">Content will go here</p>
            </div>
            
            <!--<div class="polaroid">
              <img src="https://www.pixelstalk.net/wp-content/uploads/images1/HD-Spring-Photos-new.jpg" style="width:600px;" class="img-responsive">
              <p class="text-center">FIVE [4]</p>
            </div>-->
          </div>
        </div>
      </div>
      <!-- Carousel End-->
      <br>

      <div class="swiper mySwiper">
        <div class="swiper-wrapper" id="swiper-wrapper"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
  <br>
  <br>
  <br>
  <br>
      
    <div class="footer-basic">
      <footer>
          <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
                      class="icon ion-social-facebook"></i></a></div>
          <div class="footer-content">
              <div class="envelope"><span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                  <a href="#" style="text-decoration: none; color: #FDFEFF;  font-size: 16px;">abc@gmail.com</a>
              </div>
              <div class="phone">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <a href="tel:+999939399393"
                      style="text-decoration: none; color: #FDFEFF; font-size: 16px;">+999939399393</a>
              </div>
              <div class="maps">
                  <i class="material-icons" style="font-size:20px;color: #ff7096;">place</i>
                  <a href="https://www.google.co.in/maps/place/Jharkhand+829122/data=!4m6!3m5!1s0x39f4f401e2d4252f:0xb3fbc9057d2aee36!8m2!3d23.6097665!4d85.525174!16s%2Fg%2F1hhj5drjk?authuser=0&hl=en&rclk=1"
                      style="text-decoration: none; color: #FDFEFF; font-size: 16px;" target="_blank">Ramgarh
                      Cantt</a>
              </div>
          </div>

          <!-- Copyright -->
          <div class=" footer-copyright text-center py-3" style="color: #FDFEFF;">©
              <a href="/" style="text-decoration: none; color: #FDFEFF;"> wedding.com</a>
              <span style="text-decoration: none; color: #FDFEFF;  font-size: 16px;">2022 Manoj
                  Tent Agency.
                  All Rights Reserved</span>
          </div>
          <!-- Copyright -->
  </div>
  </footer>
  </div>

</body>
  
</html>