
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.loader{
    height: 350px;
    width: 350px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.loader div:nth-child(1){
    background-color: rgb(225, 109, 138);
    height: 200px;
    width: 125px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 40px;
    right: 0;
    transform: rotate(45deg);
    border-radius: 100px 100px 10px 10px;
    transform-origin: 50% 69%;
    animation: flip1 4s linear ;
}

@keyframes flip1{
    25%{
        transform: rotate(45deg) rotateX(180deg);
    }
    50%{
        transform: rotate(45deg) rotateX(180deg);
    }
    75%{
        transform: rotate(45deg);
    }
}

.loader div:nth-child(2){
    height: 200px;
    width: 125px;
    background-color: rgb(225, 109, 138);
    position: absolute;
    top: 151px;
    left: 132px;
    transform: rotate(135deg);
    transform-origin: 50% 31%;
    border-radius: 10px 10px 100px 100px;
    animation: flip2 4s 1s linear ;
}

@keyframes flip2{
    25%{
        transform: rotate(135deg) rotateX(180deg);
    }
    50%{
        transform: rotate(135deg) rotateX(180deg);
    }
    75%{
        transform: rotate(135deg);
    }
}
.content{
    display:none;
}


.footer-basic {
    padding: 40px 0;
    background  : #FFC0CB;
    background: linear-gradient(120deg, #FF42A2 0%, #ffc8d6  50%, #FF4DA6 100%);
    color: #FF42A2;
    border-radius: 5px;
  
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 28px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}



.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
    border-color: #FF42A2;
}

.footer-basic .social>a:hover {
    color: #FFC0CB;
    background-color: #FF42A2;
}


.footer-content {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    justify-content: space-between;
}

body{
    font-weight: bold;
    
}
